:root {
  --vw-blue: #6091c3;
}


html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background: rgb(64, 64, 64);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
  color: white !important;
}

.header {
  font-size: 24px;
  text-align: center;
  padding-top: 10px;
}

.header h2 {
  margin: 0;
}

#countDown {
  margin-top: 8px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

#countDown div {
  display: inline;
  margin-right: 10px;
  background: rgb(32, 32, 32);
  padding: 5px 10px;
  font-size: 1.8rem;
  border-radius: 4px;
}

#countDown p {
  margin-bottom: -16px;
  margin-top: 0px;
}

#countDown span {
  /* margin-right: 5px; */
  padding-top: -5px;
  font-size: 0.8rem;
}

.card {
  text-align: center;
}

.container {
  background: rgb(32, 32, 32);
  position: relative;
  padding: 20px;
  width: 80%;
  margin: 10px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  /* grid-template-columns: repeat(3, 1fr); */
  justify-content: space-between;
  gap: 20px;
}

a.img-link {
  position: relative;
  margin: auto;
  /* width: calc(16px * 26);
  height: calc(9px * 26); */
  transition: transform 0.3s;
}

a.img-link:hover {
  transform: scale(1.05);
}

img.thumb {
  max-width: 100%;
  max-height: 100%;
}

#specs {
  background: rgb(32, 32, 32);
  position: relative;
  padding: 20px;
  width: 80%;
  margin: 10px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
}

#specs ul li {
  color:  #6091c3;
  list-style-type: none;
}

#specs li:before {
  content: "•";
  font-size: 150%;
  line-height: 0;
  margin: 0 0.5rem 0 -1.1rem;
  position: relative;
  top: 0.1rem;
  color: rgb(192, 192, 192);
  /* color: rgb(128, 128, 128); */
}

#specs .replaced {
  text-decoration: line-through;
}

#specs small {
  margin-left: 1rem;
  font-size: 0.8rem;
  display: block;
}

#specs h4 {
  text-align: center;
  color: rgb(192, 192, 192);
}

#drive-train {
  color: var(--vw-blue);
  background: rgb(32, 32, 32);
  position: relative;
  padding: 20px;
  width: 80%;
  margin: 10px auto;
}

.active {
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid var(--vw-blue);
}

nav {
  position: relative;
  width: calc(80% + 40px);
  left: calc(10% - 20px);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0.2);
}

nav li {
  display: inline-block;
  list-style: none;
  cursor: pointer;
  width: calc(100% / 6);
  line-height: 2.7rem;
  text-align: center;
  height: 2.7rem;
  box-sizing: border-box;
}

nav li:hover {
  background-color: var(--vw-blue);
}

.hidden {
  display: none !important;
}






@media screen and (max-width: 420px) {
  body {
    height: auto;
    overflow: scroll;
  }

  .header {
    padding-bottom: 10px;
  }
  .container {
    width: 100%;
    position: relative;
    height: auto;
    display: block;
    transform: translate(0%, 0%);
    padding: 0;
    left: 0;
    margin: 0;
  }

  img.thumb {
    margin-top: 10px;
  }

  .header {
    font-size: 1.2rem;
  }

  .header h2 {
    font-size: 2rem;
  }

  #deliveryDate {
    display: block;
  }

  #countDown {
    margin-bottom: 8px;
  }

  #specs {
    width: 100%;
    display: block;
    box-sizing: border-box;
  }

  #specs h4 {
    padding-left: 0px;
  }
  #specs ul {
    padding-left: 15px;
  }

  #specs ul li {
    font-size: 0.9rem;
  }
}