body {
    background: black;
}

h1 {
    border: thick groove white;
    margin: auto;
    font-size: 3em;
    color: #FFFFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: center;
    text-align: center;
    width: 50%;
    margin-top: 50px;
}

.numbers {
    float: left;
    background-color: red;
    /*position: absolute;*/
}

#wrapper{
    margin: 100px auto auto auto;
    display: block;
    position: relative;
}

.plainText{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: red;
    margin-top: 50px;
    text-align: center;
}