<!DOCTYPE html>
<html lang="en">

      <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
            <link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.3/spacelab/bootstrap.min.css" rel="stylesheet" integrity="sha384-37YbQUib4zA7U5bsHd2KZyDlsbwU4JgX78b4NZR3fFBCvoX9VQ0Py9iYVKd0OKo9"
                  crossorigin="anonymous">
            <!-- <link rel="stylesheet" href="style.css"> -->
            <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">
            <style>
                  body {
                        font-family: Exo, Verdana, Geneva, Tahoma, sans-serif;
                  }

                  h1, h2, h3, h4 {
                        margin-top: 0.5em;
                  }

                  .navbar-brand {
                        width: 100px;
                  }
            </style>
            <title>My home - <%= title %></title>
      </head>

      <body>
      
        <% include ./navbar %>