<style>
      .chat {
            list-style: none;
            margin: 0;
            padding: 0;
      }

      .chat li {
            margin-bottom: 10px;
            padding-bottom: 5px;
            border-bottom: 1px dotted #B3A9A9;
      }

      .chat li.left .chat-body {
            margin-left: 60px;
      }

      .chat li.right .chat-body {
            margin-right: 60px;
      }


      .chat li .chat-body p {
            margin: 0;
            color: #777777;
      }

      .panel .slidedown .glyphicon,
      .chat .glyphicon {
            margin-right: 5px;
      }

      .panel-body {
            overflow-y: scroll;
            height: 250px;
      }

      ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color: #F5F5F5;
      }

      ::-webkit-scrollbar {
            width: 12px;
            background-color: #F5F5F5;
      }

      ::-webkit-scrollbar-thumb {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
            background-color: #555;
      }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">

<div class="container">
      <div class="row">
            <div class="col-md-5">
                  <div class="panel panel-primary">
                        <div class="panel-heading">
                              <span class="glyphicon glyphicon-comment"></span> Chat
                              <div class="btn-group pull-right">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                          <span class="glyphicon glyphicon-chevron-down"></span>
                                    </button>
                                    <ul class="dropdown-menu slidedown">
                                          <li>
                                                <a href="#">
                                                      <span class="glyphicon glyphicon-refresh"></span>Refresh</a>
                                          </li>
                                          <li>
                                                <a href="#">
                                                      <span class="glyphicon glyphicon-ok-sign"></span>Available</a>
                                          </li>
                                          <li>
                                                <a href="#">
                                                      <span class="glyphicon glyphicon-remove"></span>Busy</a>
                                          </li>
                                          <li>
                                                <a href="#">
                                                      <span class="glyphicon glyphicon-time"></span>Away</a>
                                          </li>
                                          <li class="divider"></li>
                                          <li>
                                                <a href="#">
                                                      <span class="glyphicon glyphicon-off"></span>Sign Out</a>
                                          </li>
                                    </ul>
                              </div>
                        </div>
                        <div class="panel-body">
                              <ul class="chat">
                                    <li class="left clearfix">
                                          <span class="chat-img pull-left">
                                                <img src="https://placehold.it/50/55C1E7/fff&text=JS" alt="User Avatar" class="img-circle" />
                                          </span>
                                          <div class="chat-body clearfix">
                                                <div class="header">
                                                      <strong class="primary-font">Jack Sparrow</strong>
                                                      <small class="pull-right text-muted">
                                                            <span class="glyphicon glyphicon-time"></span>12 mins ago</small>
                                                </div>
                                                <p>
                                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                                </p>
                                          </div>
                                    </li>
                                    <li class="right clearfix">
                                          <span class="chat-img pull-right">
                                                <img src="https://placehold.it/50/FA6F57/fff&text=BP" alt="User Avatar" class="img-circle" />
                                          </span>
                                          <div class="chat-body clearfix">
                                                <div class="header">
                                                      <small class=" text-muted">
                                                            <span class="glyphicon glyphicon-time"></span>13 mins ago</small>
                                                      <strong class="pull-right primary-font">Bhaumik Patel</strong>
                                                </div>
                                                <p>
                                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                                </p>
                                          </div>
                                    </li>
                                    <li class="left clearfix">
                                          <span class="chat-img pull-left">
                                                <img src="https://placehold.it/50/55C1E7/fff&text=JS" alt="User Avatar" class="img-circle" />
                                          </span>
                                          <div class="chat-body clearfix">
                                                <div class="header">
                                                      <strong class="primary-font">Jack Sparrow</strong>
                                                      <small class="pull-right text-muted">
                                                            <span class="glyphicon glyphicon-time"></span>14 mins ago</small>
                                                </div>
                                                <p>
                                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                                </p>
                                          </div>
                                    </li>
                                    <li class="right clearfix">
                                          <span class="chat-img pull-right">
                                                <img src="https://placehold.it/50/FA6F57/fff&text=BP" alt="User Avatar" class="img-circle" />
                                          </span>
                                          <div class="chat-body clearfix">
                                                <div class="header">
                                                      <small class=" text-muted">
                                                            <span class="glyphicon glyphicon-time"></span>15 mins ago</small>
                                                      <strong class="pull-right primary-font">Bhaumik Patel</strong>
                                                </div>
                                                <p>
                                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                                </p>
                                          </div>
                                    </li>
                              </ul>
                        </div>
                        <div class="panel-footer">
                              <div class="input-group">
                                    <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                                    <span class="input-group-btn">
                                          <button class="btn btn-warning btn-sm" id="btn-chat">
                                                Send</button>
                                    </span>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</div>
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
<script src=""></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Faker/3.1.0/locales/sv/faker.sv.js"></script>
<script>
      $(function () {
            var socket = io();
            $("form").submit(function () {
                  if ($("#m").val() !== "") {
                        let msg = {
                              user: "User",
                              timestamp: new Date(),
                              message: $("#m").val()
                        }
                        let tmpName = faker.fake("{{name.firstName}}");
                        msg.user = tmpName;
                        console.log(tmpName);

                        // $.ajax({
                        //       url: 'https://randomuser.me/api/?inc=name',
                        //       dataType: 'json',
                        //       success: function (data) {
                        //             console.log(data);
                        //             let tmpUser = data.results[0].name.first.charAt(0).toUpperCase() + data.results[0].name.first.slice(1).toLowerCase();
                        //             console.log(tmpUser);
                        //             msg.user = tmpUser;
                        //             socket.emit("chat message", msg);
                        //       }
                        // });

                  }
                  $("#m").val("");
                  return false;
            });
            socket.on("chat message", function (msg) {
                  if (msg !== "") {
                        let time = new Date(msg.timestamp).toLocaleTimeString();

                        $("#messages")
                              .append($("<li>")
                                    .addClass("list-group-item")
                                    .html(`
                                          <span class="chat-time">${time}</span>
                                          <span class="chat-user">${msg.user}</span>
                                          <span class="chat-msg">${msg.message}</span>`
                                    ));

                        window.scrollTo(0, document.body.scrollHeight);
                  }
            });
      });
</script>