<% include ./partials/header %>
  <% if(mainPage) { %>
    <%- include(mainPage) %>
  <% } else { %>
    <div class="container">
    <h4>This is some dummy text</h4>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat ratione nesciunt illum mollitia voluptas accusamus cumque
    alias amet dolorum, earum itaque officia fugit voluptates eos expedita at aspernatur facere. Cumque. Ipsum at nisi recusandae
    commodi quod voluptatum soluta sunt cum neque corporis reiciendis modi sed ea perspiciatis saepe sit eos est omnis necessitatibus
    corrupti, repellat architecto! Natus excepturi molestias voluptatem. Esse quisquam laudantium earum officia fuga deserunt,
    delectus, commodi magni, cumque porro modi saepe eos repudiandae consectetur molestiae id necessitatibus soluta! Ipsam
    consectetur optio eligendi officiis nihil a doloremque aliquid. Ab maiores ex nesciunt, doloremque minus laborum similique.
    Deleniti pariatur commodi, unde distinctio est a eaque odio quisquam ab, ea id tempore doloribus odit maiores quae voluptatem,
    quo tempora ducimus! Voluptatem excepturi sequi, corporis vel in similique possimus libero blanditiis voluptates hic quibusdam
    quod soluta deleniti ducimus. Nihil nisi rerum facilis obcaecati eveniet repudiandae possimus quae ducimus iusto debitis!
    Accusamus? Impedit distinctio rem corrupti natus voluptatibus saepe aut quos, deserunt, doloribus beatae dolore optio
    enim nihil fuga commodi laborum recusandae cupiditate odio nostrum obcaecati quo quibusdam? Sunt ipsa debitis eveniet?
    Neque, incidunt rem. Vitae consequuntur in tempora ipsum eum esse ratione repudiandae neque iusto accusamus, hic dolore
    a magnam assumenda facere? Sit dolores error illum corporis quasi necessitatibus vitae beatae. Nisi, beatae neque aut
    provident voluptas ex perferendis veritatis. Autem odit nobis minus perferendis quasi aperiam itaque ad? Ut repellendus
    omnis distinctio illum iusto aspernatur expedita. Nihil beatae at quasi? Nulla similique alias modi distinctio accusamus
    consequuntur possimus facere repellendus ratione doloribus, dicta perferendis rem, numquam, eligendi rerum exercitationem
    corporis eius temporibus voluptates. Sunt corrupti, adipisci in molestiae magni minima?
    </div>
  <% } %>
<% include ./partials/footer %>
