@font-face {
  font-family: "Tratex";
  src: url("./fonts/Tratex.ttf");
}

@font-face {
  font-family: "7 seg";
  src: url("./fonts/fonts-DSEG_v046/DSEG7-Classic/DSEG7Classic-Bold.ttf");
}

:root {
  --sign-bg-color: rgba(255, 255, 255, 0.5);
  /* --sign-fg-color: rgba(0, 0, 0, 0.75); */
  --sign-fg-color: rgba(30, 100, 200, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: #2a2a2a; */
  background-color: #2a332a;
  font-family: Tratex, Verdana, Geneva, Tahoma, sans-serif;
  overflow: hidden;
}

#location {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: #ffd908; */
  /* border: 22px solid #f32a34; */
  /* border-radius: 50%; */
  border: 3px solid black;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
  text-align: center;
}

#speed {
  font-family: "7 seg";
  color: var(--sign-fg-color);
  font-size: 70px;
  line-height: 70px;
}

#error {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: red;
  text-align: center;
  top: calc(50% + 110px);
  position: absolute;
  width: 100%;
  text-shadow: 1px 0px 2px rgba(0, 0, 0, 0.5);
  /* display: none; */
}

#info {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 20px;
  font-size: 18px;
  color: honeydew;
}

#kmh {
  color: var(--sign-fg-color);
  font-size: 22px;
  margin-bottom: -10px;
}

#accuracy {
  position: absolute;
  width: 200px;
  left: 50%;
  top: calc(50% - 120px);
  transform: translate(-50%, -50%);
  padding: 2px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

#accuracy-bar {
  height: 18px;
  border-radius: 3px;
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
}

.bar-none {
  width: 5%;
  background-color: #f63a0f;
  height: 100%;
}

.bar-low {
  width: 25%;
  background-color: #f63a0f;
  height: 100%;
}

.bar-mid-low {
  width: 50%;
  background-color: #f2b01e;
  height: 100%;
}

.bar-mid-high {
  width: 75%;
  background-color: #f2d31b;
  height: 100%;
}

.bar-high {
  width: 100%;
  background-color: #86e01e;
  height: 100%;
}

.css-button-stop {
	font-size: 16px;
	border-radius: 5px;
	border: solid 1px #d83526;
	color: #ffffff;
	background: linear-gradient(180deg, #fe1900 5%, #ce0000 100%);
	text-shadow: 1px 1px 0px #b23d35;
	box-shadow: inset 1px 1px 2px 0px #f29d93;
	font-family: Arial;
	cursor: pointer;
	text-align: center;
	user-select: none;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
.css-button-stop:hover {
	background: linear-gradient(180deg, #ce0000 5%, #fe1900 100%);
}
.css-button-stop:active {
	position: relative;
	top: 1px;
}
.css-button-stop > span {
	display: block;
}
.css-button-stop-icon {
	padding: 10px 10px;
	border-right: 1px solid rgba(255, 255, 255, 0.16);
	box-shadow: rgba(0, 0, 0, 0.14) -1px 0px 0px inset;
}
.css-button-stop-icon svg {
	vertical-align: middle;
}
.css-button-stop-text {
	padding: 10px 10px;
}

.css-button-start {
	font-size: 16px;
	border-radius: 5px;
	border: solid 1px #268a16;
	color: #306108;
	background: linear-gradient(180deg, #77d42a 5%, #5cb811 100%);
	text-shadow: 1px 1px 0px #aade7c;
	box-shadow: inset 1px 1px 2px 0px #c9efab;
	font-family: Arial;
	cursor: pointer;
	text-align: center;
	user-select: none;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
.css-button-start:hover {
	background: linear-gradient(180deg, #5cb811 5%, #77d42a 100%);
}
.css-button-start:active {
	position: relative;
	top: 1px;
}
.css-button-start > span {
	display: block;
}
.css-button-start-icon {
	padding: 10px 10px;
	border-right: 1px solid rgba(255, 255, 255, 0.16);
	box-shadow: rgba(0, 0, 0, 0.14) -1px 0px 0px inset;
}
.css-button-start-icon svg {
	vertical-align: middle;
}
.css-button-start-text {
	padding: 10px 10px;
}

.display-none {
  display: none;
}