<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="">
  <title>My Movie App</title>
  <style>
    .main-area {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
      grid-column-gap: 1em;
    }
  </style>
</head>
<body>
  <% include header %>
  <div class="main-area">
    <div class="card">
      
    </div>
  </div>
</body>
</html>