@font-face {
  font-family: Revue;
  src: url("./font/revuen.ttf");
}

:root {
  /* --bg-color: #c7d3dd;
  --alt-color: #92C0E6; */
  --bg-color: white;
  --alt-color: #c7d3dd;
  --iron-blue: rgb(0, 77, 153);
  --iron-blue-light: rgba(0, 77, 153, 0.3);
  --grey: #58585a;
  --grey50: rgba(0, 0, 0, 0.25);
  --active-border: 2px solid rgba(255, 0, 0, 0.5);
}

body {
    margin: 0;
    padding: 0;
    font-size: 1em;
    /* font-family: "Barlow Semi Condensed", "Roboto Condensed", "Saira Condensed", "Ubuntu Condensed", Verdana, Geneva, Tahoma, sans-serif; */
    font-family: Exo, Tahoma, sans-serif, Verdana, Helvetica, sans-serif;
    user-select: none;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--bg-color);
}

table {
    font-size: 15px;
    width: 100%;
    padding: 4px;
    border-collapse: collapse;
    box-sizing: border-box;
    border-left: solid 0.5px black;
    border-right: solid 0.5px black;
    background-color: white;
}

.title {
  font-family: Revue;
  font-size: 22px;
  text-align: center;
  color: #004b98;
  padding-top: 0.4rem;
  padding-bottom: 0.1rem;
  text-transform: uppercase;
}

table td, table th {
  text-align: left;
  padding-left: 3px;
  box-sizing: border-box;
}

table th {
  font-weight: bold;
  text-align: center;
}

table td {
  font-weight: normal;
  text-align: center;
  font-size: 14px;
}

table tr.week {
    border-bottom: 1px solid #555;
    border-top: 1px solid #555;
}

table tr:nth-child(odd) {
    background-color: transparent;
}

table tr:nth-child(even) {
    /* background-color: rgba(0, 0, 0, 0.25); */
    background-color: var(--iron-blue-light);
}

table th.weeknr {
    text-align: center;
    padding: 0px;
}

#container0, #container1, #container2 {
  position: absolute;
  width: 100vw;
}

#container0, #container2 {
  display: none;
}

#container0 {
  z-index: 2;
}

#container1 {
  z-index: 1;
}

#container2 {
  z-index: 2;
}

#inputContainer {
    display: grid;
    grid-template-columns: 50vw 50vw;
    width: 100vw;
    position: absolute;
    bottom: 2px;
    font-size: 1em;
    max-width: 768px;
}

#inputContainer label {
    width: 100%;
    text-align: center;
    font-size: 0.9em;
}

#inputContainer div {
    padding: 0px 3px;
}

#dateInput {
    width: 100%;
}

#nameInput {
    width: 100%;
}

.active {
    border-left: var(--active-border);
    border-right: var(--active-border);
    border-radius: 1%;
}

.active-top {
    border-top: var(--active-border);
}

.active-bottom {
    border-bottom: var(--active-border);
}

.nobold {
    font-weight: normal;
}

.small {
    font-size: 0.7rem;
    margin: 0;
    margin-top: -2px;
}

.border-bottom {
    border-bottom: 1px solid #555 !important;
}

.border-top {
    border-top: 1px solid #555;
}

.red {
    color: red;
}

.label, label {
  margin: 0;
  width: 100%;
  text-align: center;
  margin-bottom: -4px;
}

.form-control {
  height: auto;
  padding: 0;
}

.animate {
  transition: all 0.3s;
}

.fade-shadow {
  box-shadow: none;
  transition: all 0.25s;
}

.shadow {
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.25);
  transform: scale(1.03);
}

.align-left {
  text-align: left;
}

@keyframes myrotate {
  0% {transform: rotateY(0deg);}
  25% {transform: rotateY(90deg);}
  50% {transform: rotateY(180deg);}
  75% {transform: rotateY(270deg);}
  100% {transform: rotateY(360deg);}
}
