@font-face {
  font-family: Revue;
  src: url("./font/revuen.ttf");
}

:root {
  /* --bg-color: #c7d3dd;
  --alt-color: #92C0E6; */
  --bg-color: white;
  --alt-color: #c7d3dd;
  --iron-blue: #004b98;
  --grey: #58585a;
  --grey50: rgba(0, 0, 0, 0.25);
  --active-border: 2px solid rgba(255, 0, 0, 0.5);
}

body {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: "Barlow Semi Condensed", "Roboto Condensed", "Saira Condensed", "Ubuntu Condensed", "Titillium Web", Verdana, Geneva, Tahoma, sans-serif;
    user-select: none;
    width: 100vw;
    background-color: var(--bg-color);
}

table {
    font-size: 15px;
    width: 100%;
    padding: 4px;
    border-collapse: collapse;
}

.title {
  font-family: Revue;
  font-size: 24px;
  text-align: center;
  color: #004b98;
  padding-top: 0.5rem;
  text-transform: uppercase;
}

table td, table th {
    text-align: left;
    padding-left: 3px;
}

table th {
  font-weight: bold;
}

table td {
  font-weight: normal;
}

table tr.week {
    border-bottom: 1px solid #555;
    border-top: 1px solid #555;
}

table tr:nth-child(odd) {
    background-color: transparent;
}

table tr:nth-child(even) {
    /* background-color: rgba(0, 0, 0, 0.25); */
    background-color: var(--grey50);
}

table th.weeknr {
    text-align: center;
    padding: 0px;
}

#container {
    margin: 0px auto;
    width: 100vw;
    height: 100vh;
    border: 0.5px solid black;
}

#inputContainer {
    display: grid;
    grid-template-columns: 50vw 50vw;
    width: 100vw;
    position: absolute;
    bottom: 2px;
    font-size: 1em;
    max-width: 768px;
}

#inputContainer label {
    width: 100%;
    text-align: center;
    font-size: 0.9em;
}

#inputContainer div {
    padding: 0px 3px;
}

#dateInput {
    width: 100%;
}

#nameInput {
    width: 100%;
}

.active {
    border-left: var(--active-border);
    border-right: var(--active-border);
    border-radius: 1%;
}

.active-top {
    border-top: var(--active-border);
}

.active-bottom {
    border-bottom: var(--active-border);
}

.nobold {
    font-weight: normal;
}

.small {
    font-size: 0.8rem;
}

.border-bottom {
    border-bottom: 1px solid #555 !important;
}

.border-top {
    border-top: 1px solid #555;
}

.red {
    color: red;
}

label {
  margin: 0;
}

.form-control {
  height: auto;
  padding: 0;
}

.animate {
  transition: all 0.3s;
}