:root {
  --line1-top: 0.8cm;
  --line2-top: 1.4cm;
}

body {
  position: relative;
    margin: auto;
    padding: 0px;
    width: 29.7cm;
    height: 20.99cm;
    background-image: url(../img/veckoarbetstidskort.jpg);
    background-size: calc(29.7cm - 1%) calc(21cm - 1%);
    background-repeat: no-repeat;
    background-position-y: -1%;
    background-position-x: center;
    font-family: 'Handlee', cursive;
  }

  @media screen {
    body {
      border: 1px solid black;
    }
  }

  @media print {
    html {
      zoom: 98%;
    }
  }

  /*
  font-family: 'Handlee', cursive;
  font-family: 'Architects Daughter', cursive;
  font-family: 'Delius', cursive;
  font-family: 'Short Stack', cursive;
  font-family: 'Crafty Girls', cursive;
  font-family: 'Waiting for the Sunrise', cursive;
  font-family: 'Dekko', cursive;
  font-family: 'Swanky and Moo Moo', cursive;
  */
  
input {
  font-family: 'Coming Soon', cursive;
  font-weight: bold;
  font-size: .9em;
  width: 100%;
  border: none;
  background: transparent;
	color: rgb(20, 54, 189);
}

#company {
  position: absolute;
  top: var(--line1-top);
  left: 2.2cm;
  width: 7.5cm;
}

#city {
  position: absolute;
  top: var(--line2-top);
  left: 1.5cm;
  width: 6cm;
}

#driver {
  position: absolute;
  top: var(--line2-top);
  left: 9.9cm;
  width: 6cm;
}

#weekNr {
  position: absolute;
  top: var(--line1-top);
  left: 23.2cm;
  width: 1.5cm;
}
